* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Sofia", sans-serif;
  }

a {
    text-decoration: none;
    color: rgba(45, 10, 183, 0.768);
    font-size: 1vi;
}

h1, h2, h3, h4, h5 {
    color: rgba(45, 10, 183, 0.768);
}

.selectedPage {
    border: solid 2px black;
    border-top-left-radius: 0.5vi;
    border-top-right-radius: 0.5vi;
    border-bottom-left-radius: 0.5vi;
    border-bottom-right-radius: 0.5vi;
}


container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    background: rgba(147, 179, 238, 0.916);

}

.left {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vi 1vi;
    display: grid;
    margin: 1vi;
}

.menu  {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.right {
    height: 90vh;
    padding: 2vi 1vi;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr;
    margin: 1vi;
}

.right-content-products {
    background-color: white;
    display: grid;
    height: 80vh;
    grid-template-columns: repeat(4, 1fr);
    margin: 1vi;
    border: rgba(28, 78, 172, 0.916) solid;
    overflow-y: scroll;
    overflow-x: hidden;
    border-top-left-radius: 0.5vi;
    border-top-right-radius: 0.5vi;
    border-bottom-left-radius: 0.5vi;
    border-bottom-right-radius: 0.5vi;
}

.product {
    margin: 1vi 2vi;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 14.5vw;
    height: 35vh;
    border: solid rgba(147, 179, 238, 0.916);
    border-top-left-radius: 0.5vi;
    border-top-right-radius: 0.5vi;
    border-bottom-left-radius: 0.5vi;
    border-bottom-right-radius: 0.5vi;

}


.product .product-Price-Add {
    display: grid;
    margin: 0 1vi;
    padding: 0 1vi;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    width: 12.5vw;
    border: solid rgba(147, 179, 238, 0.916);
    border-top-left-radius: 0.5vi;
    border-top-right-radius: 0.5vi;
    border-bottom-left-radius: 0.5vi;
    border-bottom-right-radius: 0.5vi;
}

/* Carrito */

.right-content-products-carrito {
    background-color: white;
    display: grid;
    height: 80vh;
    grid-template-columns: 1fr;
    margin: 0.5vi 0;
    border: rgba(28, 78, 172, 0.916) solid;
    overflow-y: scroll;
    overflow-x: hidden;
    border-top-left-radius: 0.5vi;
    border-top-right-radius: 0.5vi;
    border-bottom-left-radius: 0.5vi;
    border-bottom-right-radius: 0.5vi;
}

.product-Carrito {
    margin: 1vi 2vi;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
    height: 19vh;
    border: solid rgba(147, 179, 238, 0.916);
    border-top-left-radius: 0.5vi;
    border-top-right-radius: 0.5vi;
    border-bottom-left-radius: 0.5vi;
    border-bottom-right-radius: 0.5vi;
}

table {
    width: 40vw;
    text-align: justify;
}

.botonesCarrito {
    display: flex;
    flex-direction: row;
    margin: 1vi;
    justify-content: space-around;
}


.photo-1 {
    width: 10vi;
    height: 14vi;
    background: url(https://http2.mlstatic.com/D_NQ_NP_2X_787280-MCO51843885132_102022-F.webp);
    background-repeat: no-repeat;
    background-size: 10vi
}

.photo-2 {
    width: 10vi;
    height: 14vi;
    background: url(https://http2.mlstatic.com/D_NQ_NP_2X_904140-MCO51843801912_102022-F.webp);
    background-repeat: no-repeat;
    background-size: 10vi
}

.photo-3 {
    width: 10vi;
    height: 14vi;
    background: url(
        https://http2.mlstatic.com/D_NQ_NP_2X_930447-MCO71410142210_092023-F.webp);
    background-repeat: no-repeat;
    background-size: 10vi
}

.photo-4 {
    width: 10vi;
    height: 14vi;
    background: url(
        https://http2.mlstatic.com/D_NQ_NP_2X_712593-MCO41606376126_052020-F.webp);
    background-repeat: no-repeat;
    background-size: 10vi
}

.photo-5 {
    width: 10vi;
    height: 14vi;
    background: url(https://http2.mlstatic.com/D_NQ_NP_2X_829630-MCO31080337339_062019-F.webp);
    background-repeat: no-repeat;
    background-size: 10vi
}

.photo-6 {
    width: 10vi;
    height: 14vi;
    background: url(https://http2.mlstatic.com/D_NQ_NP_2X_906094-MCO53976036500_022023-F.webp);
    background-repeat: no-repeat;
    background-size: 10vi
}

.photo-7 {
    width: 10vi;
    height: 14vi;
    background: url(https://http2.mlstatic.com/D_NQ_NP_2X_649847-MCO43854241255_102020-F.webp);
    background-repeat: no-repeat;
    background-size: 10vi
}

.photo-8 {
    width: 10vi;
    height: 14vi;
    background: url(https://http2.mlstatic.com/D_NQ_NP_2X_995623-MCO70722158553_072023-F.webp);
    background-repeat: no-repeat;
    background-size: 10vi
}

.photo-9 {
    width: 10vi;
    height: 14vi;
    background: url(https://http2.mlstatic.com/D_NQ_NP_2X_776916-MCO72088562654_102023-F.webp);
    background-repeat: no-repeat;
    background-size: 10vi
}

.photo-10 {
    width: 10vi;
    height: 14vi;
    background: url(https://http2.mlstatic.com/D_NQ_NP_2X_968038-MCO53410409233_012023-F.webp);
    background-repeat: no-repeat;
    background-size: 10vi
}

.photo-11 {
    width: 10vi;
    height: 14vi;
    background: url(https://http2.mlstatic.com/D_NQ_NP_2X_731406-MCO42646277112_072020-F.webp);
    background-repeat: no-repeat;
    background-size: 10vi
}

.photo-12 {
    width: 10vi;
    height: 14vi;
    background: url(https://http2.mlstatic.com/D_NQ_NP_2X_795748-MCO70527773883_072023-F.webp);
    background-repeat: no-repeat;
    background-size: 10vi
}

.photo-13 {
    width: 10vi;
    height: 14vi;
    background: url(https://http2.mlstatic.com/D_NQ_NP_2X_758206-MCO70501309390_072023-F.webp);
    background-repeat: no-repeat;
    background-size: 10vi
}

.photo-14 {
    width: 10vi;
    height: 14vi;
    background: url(https://http2.mlstatic.com/D_NQ_NP_2X_947436-MCO69626235546_052023-F.webp);
    background-repeat: no-repeat;
    background-size: 10vi
}

.photo-15 {
    width: 10vi;
    height: 14vi;
    background: url(https://http2.mlstatic.com/D_NQ_NP_2X_618657-MCO69523195685_052023-F.webp);
    background-repeat: no-repeat;
    background-size: 10vi
}




.photo-carrito {
    width: 6vi;
    height: 8vi;
    background-size: 6vi
}

.photo-pequeno {
    width: 4vi;
    height: 5.6vi;
    background-size: 4vi
}








/*  */

/* others */
.gif {
    height: 50vh;
    width: 40vw;
    background: url(https://c.tenor.com/PQhYXs7lLmsAAAAC/tenor.gif);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 25%;
}

.vacio {
    text-align: center;
}

svg {
    height: 3.5vi;
    width: 3.5vi;
}



@media (max-width: 600px) { 
    container {
        width: 95vw;
        height: 25vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 9fr;
        background: rgba(147, 179, 238, 0.916);
    }

    .left {
        width: 90vw;
        height: 20vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.5vi 1vi 0 1vi;
        margin: 1vi;
    }

    left h2 {
        display: none;
    }

    left a {
        font-size: 1rem;
    }
    

    .right {
        width: 90vw;
        height: auto;
        padding: 2vi 1vi;
        display: flex;
        flex-direction: column;
        margin: 1vi;
    }

    .right-content-products {
        background-color: white;
        display: flex;
        flex-direction: column;
        width: 85vw;
        margin: 1vi;
        padding: 2vi;
        border: rgba(28, 78, 172, 0.916) solid;
        overflow-y: scroll;
        overflow-x: hidden;
        border-top-left-radius: 0.5vi;
        border-top-right-radius: 0.5vi;
        border-bottom-left-radius: 0.5vi;
        border-bottom-right-radius: 0.5vi;
    }

    .product {
        margin: 1vi 2vi;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80vw;
        height: 35vh;
        border: solid rgba(147, 179, 238, 0.916);
        border-top-left-radius: 0.5vi;
        border-top-right-radius: 0.5vi;
        border-bottom-left-radius: 0.5vi;
        border-bottom-right-radius: 0.5vi;
    }

    .product .product-Price-Add {
        display: grid;
        margin: 0 1vi;
        padding: 0 1vi;
        grid-template-columns: 1fr 1fr;
        gap: 0;
        width: 30vw;
        border: solid rgba(147, 179, 238, 0.916);
        border-top-left-radius: 0.5vi;
        border-top-right-radius: 0.5vi;
        border-bottom-left-radius: 0.5vi;
        border-bottom-right-radius: 0.5vi;
    }

    .product .product-Price-Add p {
        width: 20vw;
    }

    .product p {
        width: 30vw;
    }

}


